*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body{
        height: 100vh;
        width: 100vw;
        background: #071952;
        text-align: center;

        header{
            width: 100%;
            padding-block: 5rem;
            color: #fff;


            .page-title{
                font-size: xx-large;
                font-weight: bolder;
            }

            p{
                font-size: x-large;
            }
        }

        .section-title{
            color: #fff;
            font-size: x-large;
        }

        .snap-inline{
            scroll-snap-type: inline mandatory;
            scroll-padding-inline: var(--size-3);
        }

        .snap-inline > *{
            scroll-snap-align: start;
        }
        
        .media-scroller{
            /* background: #1f2c57; */
            margin: auto;
            padding: 0 var(--size-3) var(--size-3);
            /* width: 80%; */
            --size-3 : 2rem;
            display: grid;
            gap: var(--size-3);
            grid-auto-flow: column;
            grid-auto-columns: 23.5%;

            overflow-x: auto;
            overscroll-behavior-inline: contain;
            scroll-behavior: smooth;


            .media-element{
                --size-2: 1rem;
                display: grid;
                grid-template-rows: min-content;
                gap: var(--size-2);

                padding: 1.5rem;
                background: #777777;
                border-radius: 0.5rem;


                img{
                    /* width: 100%; */
                    inline-size: 100%;

                    aspect-ratio: 15/10;
                    object-fit: cover;
                }

                .title{
                    background: #071952;
                    color: #fff;
                    font-size: large;
                }
            }
           
        }

        .media-scroller--with-groups{
            --size-3 : 2rem;
            /* border: 2px solid hotpink; */
            grid-auto-columns: 100%;


            .media-group{
                /* border: 2px solid limegreen; */
                display: grid;
                gap: var(--size-3);
                grid-auto-flow: column;
                /* grid-auto-columns: 20%; */


                .media-element{
                    --size-2: 1rem;
                    display: grid;
                    grid-template-rows: min-content;
                    gap: var(--size-2);
    
                    padding: 1.5rem;
                    background: #777777;
                    border-radius: 0.5rem;
    
    
                    img{
                        /* width: 100%; */
                        inline-size: 100%;
    
                        aspect-ratio: 15/10;
                        object-fit: cover;
                    }
    
                    .title{
                        background: #071952;
                        color: #fff;
                        font-size: large;
                    }
                }
            }
        }
    }
}